<p id="notice"><%= notice %></p>

<h3>Conversaciones</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Mensaje</th>
      <th>Nombre de Prospecto</th>
      <th>Fecha de Ingreso</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @chats.each do |chat| %>
      <tr>
        <td><%= chat.content %></td>
        <td><%= chat.prospect.name %>  <%= chat.prospect.last_name %></td>
        <td><%= chat.created_at.strftime("%F") %></td>
        <td><%= link_to 'Show Prospects', [@prospect] %></td>
        
        <td><%= link_to 'Edit Post', edit_prospect_chat_path(@prospect, chat) %></td>
      
        <td><%= link_to 'Destroy Chat', [@prospect, chat], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= link_to 'Añadir conversación', new_prospect_chat_path(@prospect), class:"btn btn-primary" %>
<%= link_to 'Back', prospect_path(@prospect), class:"btn btn-secondary mx-3" %>

