<p id="notice"><%= notice %></p>
<div class="row>
<section class="prospect_info">
<h3>
<%= @prospect.name%>
<%= @prospect.last_name%>
</h3>
</section>
</div>

<p>
  <strong>Phone:</strong>
  <%= @prospect.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @prospect.email %>
</p>

<p>
  <strong>Status:</strong>
  <%= @prospect.status %>
</p>

<h2>Chats</h2>
<% for chat in @prospect.chats %>

    <ul>
      <li><%= chat.content %></li> 
    </ul>
<% end %>

<%= link_to 'Edit', edit_prospect_path(@prospect) %> |
<%= link_to 'Revisar conversaciones', prospect_chats_path(@prospect) %> |
<%= link_to 'Back', prospects_path %>

